page-sign-up {
  .toolbar-background {
    background-color: map_get($colors, netflixWhite);
  }

  ion-title {
    img {
      max-height: 56px;
    }
  }

  .navbar-button {
    color: map_get($colors, netflixBlack);
  }

  ion-content.content-md[padding] .scroll-content,
  ion-content.content-ios[padding] .scroll-content {
    padding: 0px !important;
  }

  .content {
    background-color: map_get($colors, netflixBlack);

    .sign-up-title {
      color: map_get($colors, netflixWhite);
      font-weight: bold;
      font-size: 20px;
    }

    ion-item {
      background-color: map_get($colors, netflixBlack);

      ion-label {
        color: map_get($colors, netflixWhite);
      }

      ion-input {
        color: map_get($colors, netflixWhite);
      }
    }

    .signup-button {
      margin-top: 40px;
    }

    .image::after {
      display: block;
      position: relative;
      background-image: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0) 0,
        map_get($colors, netflixBlack) 100%
      );
      margin-top: -150px;
      height: 150px;
      width: 100%;
      content: "";
    }

    .title {
      font-size: 25px;
      font-weight: bold;
      color: map_get($colors, netflixWhite);
    }

    .subtitle {
      margin-top: -10px;
      color: map_get($colors, netflixWhite);
    }

    .segment-md .segment-button.activated,
    .segment-md .segment-button.segment-activated {
      border-color: map_get($colors, netflixRed);
    }

    .segment-ios .segment-button.activated,
    .segment-ios .segment-button.segment-activated {
      border-color: map_get($colors, netflixRed);
      background-color: map_get($colors, netflixBlack);
    }

    ion-segment {
      margin-top: 20px;

      ion-segment-button {
        ion-icon {
          color: map_get($colors, netflixWhite);
        }

        p {
          margin-left: 5px;
          color: map_get($colors, netflixWhite);
        }
      }
    }

    .netflixSegment {
      ion-row {
        margin-bottom: 10px;
      }

      button {
        margin-top: 20px;
      }
    }

    .segment-title {
      margin: 0px;
      font-size: 18px;
      color: map_get($colors, netflixWhite);
    }

    .cancelSegment {
      img {
        margin-top: 20px;
      }
    }

    .devicesSegment {
      .devices-segment-title {
        color: map_get($colors, netflixWhite);
      }

      .devices-segment-subtitle {
        margin: 0px;
        color: map_get($colors, netflixLightGrey);
      }

      img {
        margin-top: 40px;
        margin-bottom: 40px;
      }
    }

    .priceSegment {
      .table-column {
        font-size: 12px;
        font-weight: bold;
        color: map_get($colors, netflixWhite);
      }

      .table-value {
        font-size: 12px;
        color: map_get($colors, netflixLightGrey);
      }
    }

    ion-row {
      padding: 0px;
      margin: 0px;
    }

    ion-col {
      padding: 0px;
      margin: 0px;
    }

    .questions {
      margin-top: 50px;
      font-size: 14px;
      color: map_get($colors, netflixLightGrey);
    }

    .footer-text {
      font-size: 12px;
      color: map_get($colors, netflixLightGrey);
    }
  }
}
